// Fonts
$font-base: 'Outfit', sans-serif;


// Colors
$color-white: hsl(0, 0%, 100%);
$color-lightGray: hsl(212, 45%, 89%);
$color-grayishBlue: hsl(220, 15%, 55%);
$color-darkBlue: hsl(218, 44%, 22%);
