@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
h1, p {
  font-family: "Outfit", sans-serif; }

body,
html {
  background-color: #d6e2f0; }

.row,
.container {
  background: #d6e2f0; }

.qrBlock {
  margin: 0;
  padding: 0;
  font-size: 0; }
  .qrBlock .col {
    padding: 5px; }
  .qrBlock .qr-card {
    margin-top: 147px;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 10px #d6e2f0; }
  .qrBlock .card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; }
  .qrBlock .card__title {
    padding-top: 24px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #1f3251; }
  .qrBlock .card__paragraph {
    padding-bottom: 7px;
    padding-top: 9px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #7b879d; }
